body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header, nav {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}

header h4 {
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 60px;
}
.catalogo {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}
.catalogo h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.producto {
    display: inline-block;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.producto img {
    max-width: 100%;
    height: auto;
}
.producto h3 {
    font-size: 18px;
    margin: 10px 0;
}
.producto p {
    font-size: 14px;
    color: #555;
}
.precio {
    font-size: 20px;
    color: #000;
}
.vendidos {
    font-size: 14px;
    color: #999;
}

.buscador {
    margin-left: 80%;
}

.ver_mas {
    text-decoration: none;
    border-radius: 20px;
    background-color: salmon;
    text-align: center;
    margin-left: 50%;
    color: #000;
    display: inline-block;
    padding: 30px;
}
