.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}


@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


.form-check {
  margin: 5px 0; /* Espaciado alrededor del checkbox */
  text-align: left; /* Alinea el texto a la izquierda */
}

.form-check input [type="checkbox"] {
  margin-right: 8px; /* Espacio entre el checkbox y el texto */
}

.form-check input[type="checkbox"] {
  transform: scale(0.8); /* Ajusta el tamaño del checkbox */
}

.form-check-label {
  font-size: 12px; /* Ajusta el tamaño de la letra */
} 

/* Ajustes para el nombre de usuario en la barra de navegación */
.navbar {
  position: relative;
}

#usuarioDisplay {
  color: white;
  font-size: 16px;
  top: 50%; /* Ajusta la posición vertical */
  transform: translateY(-50%); /* Centra verticalmente con respecto a su contenedor */
  position: relative;
}

/*---ESTILO DE PRODUCTS.HTML---*/
.titleproducts{
  text-align: center;
}

.subtitleproducts{
  font-style: italic;
  text-align: center;
}

.products-container {
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}
.product h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-size: 18px;
  margin: 10px 0;
}
.product {
  display: inline-block;
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.product img {
  max-width: 100%;
  height: auto;
}

.product-info p {
  font-size: 14px;
  color: #555;
}
.product-info .price {
  font-size: 20px;
  color: #000;
}
.product-info .sold {
  font-size: 14px;
  color: #999;
}

/* Ajuste para alinear el input-group a la derecha en pantallas grandes */
.input-group {
  width: 500px;
  margin-left: auto;
  margin-right: 0;
}

/* Centrar todo en dispositivos menores a 768px (por ejemplo, celulares) */
@media (max-width: 767px) {
  /* Centrar el buscador */
  .input-group {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0 auto; /* Centrar horizontalmente */
  }

  /* Centrar las tarjetas de productos */
  .product {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .pb-5 {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}




/* Diseño de información del producto */
.product-info-container {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.product-image {
  flex: 1;
  margin-right: 20px;
}

.product-image img {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  align-items: flex-start;
}

.product-details {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fafafa;
  position: relative;
  bottom: 55px;
}

.product-thumbnails {
  display: flex;
  justify-content: left;
  margin-top: 15px;
}

.product-thumbnails img {
  width: 16%;
  cursor: pointer;
  border: 1px solid #ddd;
}

.product-thumbnails img:hover {
  border-color: #ff8c00;
}

h1, h2 {
  color: #333;
}

.price {
  font-size: 1.5rem;
  color: #333;
  margin-top: 10px;
}

.sold-count {
  color: #666;
  margin-top: 10px;
}

#related-products-container{
  align-items: center;
  justify-content: center;
  text-align: center;
  }
  
  .custom-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
  }
  
  .custom-card img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
    
  }
  
  .custom-card .card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: #ffa600eb; /* Fondo salmón claro con transparencia */
    color: black; /* Color del texto */
    text-align: center;
    transition: opacity 0.3s ease;
    
  }
  
  .custom-card .card-body h3 {
    font-size: 3rem; /* Ajusta el tamaño del título */
    margin-bottom: 15px; /* Añade espacio entre el título y el párrafo */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.custom-card .card-body p {
    font-size: 1.5rem; /* Ajusta el tamaño del párrafo */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
.custom-card:hover .card-body {
  opacity: 1;
}

h3{
  text-align: center;
}

/*Sección agregar calificación*/
#star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
  flex-wrap: wrap;
}

#star-rating input {
  display: none;
  
}

#star-rating label {
  font-size: 35px;
  color: lightgray;
  cursor: pointer;
  
}

#star-rating input:checked ~ label {
  color: gold;
}

#star-rating label:hover,
#star-rating label:hover ~ label {
  color: gold;
}

#star-rating span {
  margin-left: 10px;
  font-size: 14px;
  color: gray;
  text-align: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.publicar{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  width: 80%;
}

button:hover {
  background-color: #45a049;
}

.reviews {
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  font-family: "Inter", sans-serif;
  position: relative;
  width: 90%;
  margin: 20px auto;
  height: auto;
}

.instrucciones{
  font-style: italic;
  font-size: 13px;
  color: gray;
}

.titulo{
  font-style: italic;
  font-weight: bold;
}


h5{
  font-size: 25px;
}

h6{
  font-size: 20px;
}

input[type="text"], textarea{
  font-style: italic;
  padding: 10px;
  border-color: black;
  border-radius: 5px;
  border: 1px solid;
  font-size: 13px;
  width: 100%;
}

.publicar{
  border-color: white solid;
  border: 3px;
  background-color: #ff8c00;
  color: #000;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.3);
  cursor: pointer;
}

.publicar:hover{
  background-color: #ff8e4a;
}

.calificaciones {
  width: 100%; /* Ancho del cuadro, puede ajustarse según sea necesario */
  padding: 20px; /* Relleno interno */
  background-color: #f9f9f9; /* Color de fondo */
  border: 2px solid #ddd; /* Borde del cuadro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del cuadro */
  margin: 20px auto; /* Centrar el cuadro y dar espaciado superior/inferior */
  text-align: center; /* Centrar el texto */
}

.calificaciones h3 {
  margin-top: 0; /* Eliminar el margen superior del título */
  color: #333; /* Color del título */
}

.search-container {
  margin-top: 10px; /* Espaciado arriba */
}

.search-input {
  width: 370px; /* Ajusta al ancho del contenedor */
  max-width: 350px; /* Ancho máximo si lo deseas */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde de la barra de búsqueda */
  background-color: #e4dfe4;
  border-radius: 20px; /* Bordes redondeados */
  outline: none; /* Sin contorno al hacer clic */
}

* {
  box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

/* Contenedor Principal */
.contenedor-reseñas {
  background-color: #F6F6F6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
  max-width: 1200px; /* Establece un ancho máximo si es necesario */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Título y Calificación */
.header-reseñas {
  text-align: center;
  margin-bottom: 20px;
}

.header-reseñas h1 {
  margin: 0;
  font-size: 2em;
}

.calificacion-general {
  font-size: 1.5em;
  color: #f3853b;
}

/* Filtros (barra de búsqueda y calificación) */
.filtros {
  display: flex; /* Asegúrate de que los elementos estén en línea */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Alinea verticalmente */
  margin-bottom: 20px; /* Espacio debajo de los filtros */
}

/* Barra de búsqueda */
.barra-busqueda {
  width: 370px; /* Ancho deseado para la barra de búsqueda */
  padding: 10px;
  border: 1px solid #ece6f0; /* Borde suave */
  border-radius: 25px; /* Bordes redondeados */
  margin-right: 20px; /* Espacio entre la barra de búsqueda y el filtro */
  background-color: #ece6f0; /* Fondo gris claro */
  font-size: 1em; /* Tamaño de fuente */
  transition: border-color 0.3s ease; /* Transición suave para el borde */
}

.barra-busqueda:focus {
  outline: none; /* Eliminar el contorno predeterminado */
  border-color: #f3853b; /* Cambiar el color del borde al enfocar */
}

/* Filtro de calificación */
.filtro-calificacion {
  padding: 10px;
  border-radius: 25px; /* Bordes redondeados */
  border: 1px solid #efedee; /* Borde gris */
  background-color: #efedee; /* Fondo ligeramente más claro */
  font-size: 1em; /* Tamaño de fuente */
}

/* Estilo de la Reseña */
.reseña {
  padding: 20px;
  border-top: 1px solid #eee; /* Línea superior */
  margin-bottom: 20px; /* Espacio inferior entre reseñas */
  border-radius: 10px; /* Bordes redondeados para reseñas */
  background-color: #ece6f0; /* Fondo blanco */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.calificacion {
  font-size: 1.5em; /* Tamaño de fuente para calificación */
  color: #f3853b; /* Color de la calificación */
}

.reseña h3 {
  font-weight: bold; /* Negrita */
  font-size: 1.2em; /* Tamaño de fuente */
  margin: 10px 0; /* Espaciado superior e inferior */
  color: #333; /* Color del texto */
}

.reseña p {
  margin: 10px 0; /* Espaciado superior e inferior */
  color: #555; /* Color del texto */
}

/* Detalles de la reseña */
.detalles {
  font-size: 0.9em; /* Tamaño de fuente reducido */
  color: #777; /* Color del texto */
}

/* Paginación */
.paginacion {
  text-align: center; /* Centrar texto */
  border-top: 1px solid #ffffff; /* Línea superior */
  padding-top: 10px; /* Espacio superior */
  margin-top: 20px; /* Espacio superior adicional */
}

#comentarios {
  margin-top: 20px; /* Espacio superior */
  padding: 20px; /* Espacio interno */
  background-color: #eee; /* Fondo gris claro */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilos para cada comentario */
.comentario {
  border-bottom: 1px solid #dee2e6; /* Línea divisoria entre comentarios */
  padding: 15px 0; /* Espaciado superior e inferior */
  transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

.comentario:hover {
  background-color: #f9f9f9; /* Cambiar el fondo al pasar el ratón */
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .filtros {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
  }

  .barra-busqueda {
    width: 100%; /* Ancho completo para la barra de búsqueda */
    margin-right: 0; /* Elimina el margen derecho */
    margin-bottom: 10px; /* Espacio inferior */
  }

  .calificaciones h3 {
    font-size: 1.5em; /* Tamaño de fuente ajustado */
  }
}

@media (max-width: 480px) {
  .header-reseñas h1 {
    font-size: 1.5em; /* Ajusta el tamaño del título */
  }

  .calificacion-general {
    font-size: 1.2em; /* Ajusta el tamaño de la calificación general */
  }

  .calificacion {
    font-size: 1.2em; /* Ajusta el tamaño de la calificación */
  }

  .reseña h3 {
    font-size: 1.1em; /* Tamaño de fuente ajustado para el título de la reseña */
  }
}

 

/*SECCIÓN MY-PROFILE*/
.navbar-toggler:hover{
  background-color: #ff7300; /* Cambiar a naranja al pasar el mouse */
  box-shadow: 2px 2px 2px #0000008a;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  height: 100%; /* Ocupa todo el alto del navbar */
  max-height: 70px; /* Ajusta este valor según el tamaño deseado */
  width: auto; /* Para mantener las proporciones de la imagen */
}


.navbar-nav .nav-link {
  color: black;
  margin-right: 20px;
}

.navbar-nav .nav-link:hover {
  color: #f58220;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  color: black;
}

#imgPerfil {
  width: 250px; /* Ajusta el tamaño según sea necesario */
  height: 250px; /* Asegura que la altura y el ancho sean iguales */
  object-fit: cover; /* Esto recorta la imagen para que se ajuste al área circular */
  border-radius: 50%; /* Hace que la imagen sea circular */
 }

/*ESTILO CONTENEDOR DE FORMULARIO Y TÍTULO H2 DE FORMULARIO*/
#contenedorform{
  background-color: #F6F6F6;
  border-radius: 3%;
  box-shadow:5px 3px 4px #0000008a;
  text-align: center;
}
#miinfo{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*ESTILO DE TEXTO E INPUTS DEL FORMULARIO*/
#firstName, #secondName, #lastName, #secondLastName, #email, #contactNumber{
  background-color: #ECE6F0;
  border-style:none;
  font-family:cursive; 
  font-size: 16px; 
  font-weight: lighter; 
  color: #333; 
}

/*ESTILO BOTONES PERFIL*/
#botonGuardar, #deleteButton, #editButton{
  background-color: #b4b1b148;
  border-radius: 7%;
  box-shadow: 2px 2px 2px #626262;
}
#botonGuardar:hover{
  background-color: #ff7300;
}
#deleteButton:hover{
  background-color: #ff7300;
} 
#editButton:hover{
  background-color: #ff7300;
}


/* ESTILO SWITCH MODO DARK/LIGHT */
#toggle{
  opacity:0;
  position: absolute;
  display: none !important;
}
#togglelabel{
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}
.fa-moon{color: #f1c40f;}
.fa-sun{color: #f39c12;}

.checkbox-label .ball{
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

#toggle:checked + #togglelabel .ball{
  transform: translateX(24px);
}

body.dark{
  background-color: #333;
  color: white;
  transition: all 1.5s ease;
}

body.dark p,
body.dark h1,
body.dark h2 {
  color: white !important;
}

body.dark .product-details{
  background-color: #333;
  transition: all 1.5s ease;
}

body {
  background-color: white;
  color: black;
  transition: all 1.5s ease;
}


@media (max-width: 990px) {
  .dropdown {
   padding: 15px; /* Añade un espacio para separar los elementos */
   transform: translateX(-20px); /* Mueve el botón 10px a la izquierda */
   }

    .jumbotron {
     height: 200px; /* Reduce la altura de la imagen */
     transform: translateX(40px); /* Mueve el botón 10px a la izquierda */
   }
   }

 @media (max-width: 600px) {
   .jumbotron {
    height: 150px;
    transform: translateX(-30px);
    padding-top: 2rem;
    padding-bottom: 2rem;
   }
  #usuarioDisplay, .dropdown-menu, .navbar-toggler,.nav-item  {
    margin-left: 30px;
   }

   }


   @media (max-width: 500px) {
      .jumbotron {
        height: 200px; /* Ajusta la altura para pantallas pequeñas */
        background-size: contain; /* Cambia a contain para que la imagen se ajuste sin recortes */
         }
    }
    

    footer {
      font-size: x-small;
    }

    /* ESTILO SWITCH MODO DARK/LIGHT */
.checkbox{
  opacity:0;
  position: absolute;
  display: none !important;
}
.checkbox-label{
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-moon{color: #f1c40f;}
.fa-sun{color: #f39c12;}
.checkbox-label .ball{
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.checkbox:checked + .checkbox-label .ball{
  transform: translateX(24px);
}
#checkbox{display: none;}
    

/*Estilos para carrito en products.html*/

#contador-carrito {
  background-color: #ff741e;
  border-radius: 100%;
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  text-align: center;
  line-height: 20px;
  position: absolute;
}

#empty-cart-message {
  margin-top: 100px;
}
 
#buy {
  background-color: #ff741e;
  border-color: #ff741e;
  margin-top: 10px;
}

#buy:hover {
  background-color: #474747;
  border-color: #ff741e;
}
